$font-main: 'Poppins', sans-serif;
$font-awesome: 'FontAwesome';
$font-icomoon: 'icomoon';

$color-red: #F12C15;    
$color-blue: #00A7EA; 
$color-green: #2dad4b;
$color-yellow: #FFB400; 
$color-yellow2: #ffb938; 
$color-black: #000;
$color-black2: #161616;
$color-gray: #F6f6f6;
$color-white: #fff;
$color-text: #727272;
$color-footer: #6e6e6e;
$color-title: #000;
$color-pink: #FF77A8;
$color-purple: #C580DC;
$color-section-background: #F5F5F5;
$color-background-default: #999;

$size-font-main: 16px; 
$size-font-small: 14px;

$border: 1px solid #EDEDED; 
$border-one: 1px solid #DDDDDD;
