/*-------------------------------------------------------------------
    # Sections
*/

/* [ ## Featured ] */
@import "featured";

/* [ ## Categories ] */
@import "categories";

/* [ ## Testimonial ] */
@import "testimonial";

/* [ ## App ] */
@import "app";

/* [ ## work-process ] */
@import "work-process";

/* [ ## Reviews ] */
@import "reviews";

/* [ ## promo-video ] */
@import "promo-video";

/* [ ## Brand ] */ 
@import "brand";

/* [ ## Fanfact ] */ 
@import "fanfact";
