/* [ ### Main Menu ] */
.menu {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    ul {
        padding-left: 0px;
        margin-bottom: 0px;
        list-style: none;
        li {
            display: inline-block;
            position: relative;
            -webkit-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
            a {
                font-size: 14px;
                font-weight: 600;
                text-transform: capitalize;
                -webkit-transition: all 0.25s;
                transition: all 0.25s;
                display: block;
                color: $color-black;
                position: relative;
            }
            .menu-label {
                padding: 0 12px;
                background-color: #FECC66;
                color: $color-black;
                font-size: 9px;
                margin: 0;
                font-weight: 500;
                position: absolute;
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                height: 16px;
                line-height: 16px;
                text-transform: uppercase;
                top: 18px;
                right: 35px;
                &.new {
                    background-color: #D82E2A;
                    color: $color-white;
                }
            }
            ul.dropdown-content li { 
                padding: 0;
                display: block;
                a {
                    display: block;
                    padding: 4px 0px;
                    color: $color-black2;
                    text-transform: capitalize;
                    -webkit-transition: all 0.35s ease 0s;
                    transition: all 0.35s ease 0s;
                }
            }
        }
    }
    >  ul > li:hover > a,
    ul li.current > a {
        color: $color-red !important;
    }
    > ul > li {
        > a {
            padding: 33px 35px 33px 0;
        }
        &:last-child > a {
            padding-right: 0px;
        }
        > ul.dropdown-content {
            background-color: $color-white;
            position: absolute;
            width: 215px;
            padding: 18px 25px;
            left: 0;
            top: calc(100% + 70px);
            z-index: 999;
            visibility: hidden;
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
            -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
            -webkit-transform-origin: 0 0 0;
                  transform-origin: 0 0 0;
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            &:before {
                border-color: transparent transparent $color-white;
                border-style: solid;
                border-width: 11px 7px;
                content: "";
                left: 22px;
                position: absolute;
                top: -22px;
            }
            &:after {
                content: "";
                height: 10px;
                left: 0;
                position: absolute;
                top: -10px;
                width: 100%;
                opacity: 0;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            }
            > li:hover > a {
                color: $color-red !important;
                padding-left: 15px;
            }
        }
        &.dropdown-trigger > a:after {
            content: "\f0d7";
            font-family: fontAwesome;
            padding-left: 5px;
            opacity: 0.5;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        }
        &.dropdown-trigger:hover > ul.dropdown-content {
            visibility: visible;
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            top: calc(100% + 10px);
        }
    }
    > ul > li.dropdown-trigger.mega-menu {
        position: inherit;
    }
}

.mega-menu-content {
    width: calc(100vw - 60px);
    background-color: $color-white;
    position: absolute;
    padding: 30px 30px 40px;
    left: 15px;
    top: 100%;
    z-index: 999;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.07);
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    &.carousel-nav-dots .owl-dots > div {
        margin: 0 5px;
        > span {
            height: 10px;
            width: 10px;
        }
    }
    .cat-item {
        position: relative;
        min-height: 100px;
        background-color: $color-black;
        .cat-thumb {
            position: relative;
            img {
                width: 100%;
            }
            &:before {
                background-image: -webkit-linear-gradient(top, transparent, rgba($color-black, 0.5));
                background-image: linear-gradient(to bottom, transparent, rgba($color-black, 0.5));
                bottom: 0;
                content: "";
                height: 100%;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 2;
            }
        }
        .cat-name {
            bottom: 25px;
            color: $color-white;
            display: block;
            font-size: 18px;
            position: absolute;
            text-align: center;
            width: 100%;
            z-index: 99;
            padding: 0 15px;
        }
    }
}
.menu > ul > li.dropdown-trigger.mega-menu:hover .mega-menu-content {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
}

ul.dropdown-content > .dropdown-trigger {
    position: relative;
    > a {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        position: relative;
        &:after {
            content: "\f105";
            font-family: fontAwesome;
            position: absolute;
            right: 20px;
            top: 8px;
            font-size: 16px;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
            opacity: 0.5;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        }
    }
    ul.dropdown-content {
        left: 100% !important;
        top: -5px;
        visibility: hidden;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: scaleY(0);
                transform: scaleY(0);
        position: absolute;
        width: 200px;
        z-index: 999;
        -webkit-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
        -webkit-transform-origin: 0 0 0;
                transform-origin: 0 0 0;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    }
    &:hover {
        > a:after {
            right: 15px;
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        }
        > ul.dropdown-content {
            visibility: visible;
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            -webkit-transform: scale(1);
                    transform: scale(1);
            > li:last-child{
                border-bottom: 0px solid #e5e5e5;
            }
            > li:hover > a {
                color: $color-red;
                padding-left: 20px;
            }
        }
    }
}
@media only screen and (max-width: 1620px){
    .mega-menu-content {
        left: 0px;
        width: calc(100vw - 30px);
    }
}

/* [ ### Mobile Menu ] */
.mobile-menu {
    display: none;
}
.mean-container {
    .mean-bar {
        min-height: 60px;
    }
    a.meanmenu-reveal {
        padding: 15px 0 10px;
        right: 15px !important;
        span {
            background-color: $color-white;
        }
        i.fa {
            color: $color-white;
            display: block;
            font-size: 20px;
            margin-top: 8px;
        }
        &.meanclose + .mean-nav {
            margin-top: 75px;
            padding-bottom: 40px;
        }
    }
    .mean-nav {
        margin-top: 55px;
        background: transparent;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;
        ul.dropdown-content > .dropdown-trigger ul.dropdown-content {
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
            top: 0px;
            border-top: 0px solid;
        }
    }
    .mean-nav > ul > li > a {
        font-weight: 600;
    }
    .mean-nav ul li {
        float: none;
        a.mean-expand {
            height: 55px;
            padding: 0 !important;
            width: 50px;
            &:before {
                position: absolute;
                content: "\f0da";
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                font-family: $font-awesome;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                padding: 0 20px;
                font-size: 18px;
                -webkit-transition: all 0.2s;
                transition: all 0.2s;
            }
            > span {
                display: none;
            }
        }
        a.mean-clicked:before {
            -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
        }
        a {
            text-transform: capitalize;
        }
        a:hover {
            color: $color-red;
        }
        li a {
            border-top: 1px solid rgba($color-white,0.1);
            padding: 17px 50px;
            text-transform: capitalize;
            width: 100%;
        }
    }
    ul.dropdown-content > .dropdown-trigger {
        > a:after {
            content: "";
        }
        ul.dropdown-content {
            left: 0 !important;
            visibility: visible;
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            -webkit-transform: scaleY(1);
                    transform: scaleY(1);
            position: relative;
            width: 100%;
        }
        > ul.dropdown-content > li > a,
        &:hover > ul.dropdown-content > li:hover > a{
            padding: 12px 80px;
            width: 100%;
        }
        &:hover > ul.dropdown-content > li {
            border-bottom: 0px solid #e5e5e5;
        }
    }
    .mean-nav > ul > li > ul > li a.mean-expand {
        height: 45px;
        padding: 0px !important;
    } 
}
@media only screen and (max-width: 1199px){
    .mobile-menu {
        display: block;
        .mobile-logo {
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            left: 20px;
            top: 0;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            height: 66px;
            > img {
                margin-top: -6px;
            }
        }
        .menu-label {
            display: none;
        }
    }
    .site-navigation {
        display: none;
    }
    .mean-container .mean-bar {
        float: none;
        .mean-nav {
            float: none;
        }
    }
    .mean-container .mean-nav ul li a {
        color: $color-white;
        display: block;
        float: none;
        font-size: 18px;
        padding: 17px 20px;
        width: auto;
        font-family: $font-main;
        font-weight: 500;
    }
    .mega-menu-content {
        background-color: transparent;
        left: 0;
        padding: 0px 20px 25px;
        position: relative;
        -webkit-transform: scaleY(1);
                transform: scaleY(1);
        width: calc(100% - 40px);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.07);
        .cat-item {
            background-color: transparent;
            border-top: 0 none !important;
            padding: 0 !important;
        }
        &.carousel-nav-dots .owl-dots {
            padding-top: 20px;
        }
    }
}


@media only screen and (max-width: 575px) {
    .mobile-menu {
        .search-wrap .search-form {
            right: -35px;
            width: 280px;
        }
    }
    .mean-container {
        .mean-nav ul li li a {
            padding: 12px 35px;
        }
        ul.dropdown-content > .dropdown-trigger > ul.dropdown-content > li > a, 
        ul.dropdown-content > .dropdown-trigger:hover > ul.dropdown-content > li:hover > a {
            padding: 12px 50px;
        }
    }
    .mega-menu-content .cat-item .cat-name {
        bottom: 15px;
        padding: 0;
    }
}
