#add-listing-tab {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    .step-steps {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-left: 0;
        > li {
            -webkit-box-flex: 0;
                -ms-flex: 0 0 20%;
                    flex: 0 0 20%;
            max-width: 0 0 20%;
            &:before {
                background-color: #ededed;
                height: 12px;
                left: 50%;
                top: 21px;
                width: 235px;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
            }
            > a {
                > .number {
                    width: 30px;
                    height: 30px;
                    background-color: #d1d1d1;
                    border: 0px solid;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                    &:before {
                        background-color: rgba(221,221,211,0.3);
                        box-shadow: 0 0 0 rgba(221,221,211,0);
                        height: calc(100% + 16px);
                        width: calc(100% + 16px);
                        top: -8px;
                        left: -8px;
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;
                    }
                }
                > .step-name {
                    font-weight: 600;
                    color: #cacaca;
                    font-size: 14px;
                    letter-spacing: 0.08em;
                    margin-top: 20px;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                }
            }
            &:last-child:before {
                width: 0;
            }
        }
        > li {
            &.active > a,
            &.done > a {
                > .number {
                    background-color: $color-red;
                    &:before {
                        background-color: rgba($color-red,0.3);
                    }
                }
                > .step-name { 
                    color: $color-red;
                }
            }
            &.done {
                &:before {
                    background-color: $color-red;
                }
                > a > .number:after {
                    display: none;
                }
            }
        }
    }
    
    > .step-content {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        border: 0px solid;
        border-radius: 0px;
        padding-top: 90px;
        .title-icon {
            margin-bottom: 25px;
        }

        .default-form {
            .form-group {
                margin-bottom: 15px;
            }
            .form-controllar {
                font-size: 14px;
                &:focus {
                    border-color: $color-red;
                }
            }
            .nice-select {
                border-bottom: 1px solid #ededed;
                font-size: 14px;
                height: 52px;
                padding: 5px 0 !important;
                &:after {
                    right: 0;
                    top: 8px;
                }
                .current {
                    line-height: 45px;
                }
            }
        }
        .tags-form-group {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: -15px;
            .form-group {
                margin-bottom: 7px !important;
            }
            &.add-list-content {
                display: block;
                a:hover {
                    color: $color-red;
                }
            }
            > div {
                flex: 0 0 25%;
                margin-right: 0 !important;
            }
        }
        .step-tab-gallery .custom-file {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
            border: 2px dashed #e4e4e4;
            height: 155px;
            padding: 40px 20px;
            position: relative;
            text-align: center;
            -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            width: 100%;
            .add-gallery-text {
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
                i {
                    color: #e4e4e4;
                    display: block;
                    font-size: 32px;
                    -webkit-transition: all 0.3s ease 0s;
                    transition: all 0.3s ease 0s;
                }
                span {
                    color: #808996;
                    display: block;
                    font-size: 18px;
                    font-weight: 500;
                    margin-top: 12px;
                    opacity: 0.8;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
                    -webkit-transition: all 0.3s ease 0s;
                    transition: all 0.3s ease 0s;
                }
            }
            input[type="file"] {
                cursor: pointer;
                height: 100%;
                left: 0;
                opacity: 0;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                outline: 0 none;
                position: absolute;
                top: 0;
                width: 100%;
            }
            &:hover {
                border-color: $color-red;
                .add-gallery-text > i,
                .add-gallery-text > span {
                    color: $color-red;
                }
            }
        }
    }
    
    .step-footer {
        &.step-tab-pager {
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            padding-top: 30px;
            margin-bottom: 0px;
        }
    }
}
.tags-input-wrapper {
    width: 100%;
    border-bottom: 1px solid #ededed;
    padding: 3px 0;
}

.tags-input-wrapper input {
    border: none;
    background: transparent;
    outline: none;
    width: 120px;
}

.tags-input-wrapper .tag {
    display: inline-block;
    background-color: $color-red;
    color: white;
    border-radius: 30px;
    padding: 0px 5px 0px 8px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

.tags-input-wrapper .tag a {
    margin: 0 3px 3px;
    display: inline-block;
    cursor: pointer;
}

@media only screen and (max-width: 1199px){
    #add-listing-tab .step-steps > li {
        &:before {
            width: 195px;
        }
        > a > .step-name {
            font-size: 13px;
            letter-spacing: 0.05em;
        }
    }
    #add-listing-tab > .step-content {
        padding-top: 60px;
        .step-tab-pager {
            padding-top: 25px;
        }
    }
}
@media only screen and (max-width: 991px){
    #add-listing-tab .step-steps > li {
        &:before {
            height: 8px;
            top: 17px;
            width: 145px;
        }
        > a {
            > .number {
                height: 20px;
                width: 20px;
            }
            > .step-name {
                font-size: 12px;
                line-height: 1.3em;
            }
        }
    }
    #add-listing-tab > .step-content {
        padding-top: 40px;
        .tags-form-group > div {
            flex: 0 0 33.33%;
        }
    }
}
@media only screen and (max-width: 767px){
    #add-listing-tab .step-steps > li {
        &:before {
            height: 4px;
            top: 14px;
            width: 100px;
        }
        > a {
            > .number {
                height: 10px;
                width: 10px;
            }
        }
    }
    #add-listing-tab > .step-content {
        padding-top: 30px;
    }
}
@media only screen and (max-width: 575px){
    #add-listing-tab .step-steps > li {
        &:before {
            height: 3px;
            top: 12px;
            width: 100%;
        }
        > a {
            > .number {
                height: 5px;
                width: 5px;
            }
            > .step-name {
                font-size: 8px;
            }
        }
    }
    #add-listing-tab > .step-content {
        padding-top: 40px;
        .tags-form-group > div {
            flex: 0 0 100%;
        }
    }
}