.contact-info-section {
    .contact-location {
        border: 20px solid $color-white;
        box-shadow: 0 0 32px rgba($color-black, 0.13);
        display: inline-block;
        margin-bottom: -70px;
        position: relative;
        z-index: 2;
    }
    .contact-info-area {
        > h3 {
            font-size: 24px;
            margin-bottom: 10px;
        }
        > p {
            margin-bottom: 20px;
        }
        .social-share {
            margin-top: 28px;
        }
    }
    .single-info {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 14px;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
        > span {
            display: inline-block;
            font-size: 22px;
            margin-right: 15px;
        }
        > a:hover,
        > a:focus {
            color: $color-red;
        }
    }
}
@media only screen and (max-width: 991px) { 
    .contact-info-section {
        padding-bottom: 80px;
        .contact-location {
            margin-bottom: 50px;
        }
    }
}
@media only screen and (max-width: 767px) { 
    .contact-info-section {
        padding-bottom: 70px;
        .contact-location {
            margin-bottom: 40px;
        }
        .contact-info-area {
            > h3 {
                font-size: 20px;
            }
            > p {
                margin-bottom: 20px;
            }
        }
    }
}


.contact-form-section {
    > div {
        padding-top: 70px;
    }
    .section-header {
        margin-bottom: 32px;
    }
}
.contact-form {
    .form-controller {
        background-color: transparent;
        border-bottom: $border-one;
        font-size: 14px;
        height: 52px;
        padding: 0 !important;
        width: 100%;
    }
    textarea.form-controller {
        padding-top: 15px !important;
    }
    .btn-sumbit {
        margin-top: 40px;
    }
}
@media only screen and (max-width: 991px) { 
    .contact-form-section > div {
        padding-top: 0px;
    }
}
@media only screen and (max-width: 575px) { 
    .contact-form .btn-sumbit {
        margin-top: 20px;
    }
}

